%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
    {cowboy, ".*",{git, "https://github.com/ninenines/cowboy.git", "1.0.0"}},
    {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes.git", "master"}},
    {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", "master"}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.3.0"}}},
    {alog, ".*", {git, "https://github.com/siberian-fast-food/alogger", {tag, "4.0.2"}}},
    {jsonx, ".*", {git, "https://github.com/iskra/jsonx.git", "master"}},
    {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", "master"}},
    {gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp.git", "master"}}
  ]}.
{sub_dirs, ["rel"]}.
