%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
    {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", "master"}},
    {gproc, ".*", {git, "https://github.com/esl/gproc.git", "master"}},    
    {cowboy, ".*",{git, "https://github.com/ninenines/cowboy.git", "1.0.0"}},
    {epgsql, ".*", {git, "https://github.com/wg/epgsql.git", "master"}},
    {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", {tag, "1.3.0"}}},
    {alog, ".*", {git, "https://github.com/siberian-fast-food/alogger", {tag, "4.0.2"}}},
    {jsonx, ".*", {git, "https://github.com/iskra/jsonx.git", "master"}},
    {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", "stable"}},
    {gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp.git", "master"}},
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}}
  ]}.
{sub_dirs, ["rel"]}.
